[submodule "shipping"]
	path = shipping
	url = git@github.com:williamlagos/django-shipping
	branch = master
[submodule "socialize"]
	path = socialize
	url = git@github.com:williamlagos/django-socialize
	branch = master
[submodule "feedly"]
	path = feedly
	url = git@github.com:williamlagos/django-feedly
	branch = master
[submodule "emporio"]
	path = emporio
	url = git@github.com:williamlagos/django-emporio
	branch = master
[submodule "plethora"]
	path = plethora
	url = git@github.com:williamlagos/django-plethora
	branch = master
